/* Remove empty bars above and below calendar */
#pgcalendar table {
  margin: 0px;
}

/* .fc-day-past.fc-day-grid-event, */
.fc-event-past {
  opacity: 50%;
}

.fc-h-event .fc-event-main-frame {
  display: block;
}

/* Allows wrapping of titles */
.fc-event-title {
  white-space: normal;
}

.pgcal-branding {
  color: grey;
  font-size: 70%;
  float: right;
}
