.toolloc {
  text-align: center;
  padding-top: 10px;
}

.pgcal-event-actions .button {
  margin: 0 5px;
  font-size: 90%;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}

.tippy-content {
  padding: 20px;
}
