.tooltip-inner a {
  text-decoration: underline;
}

/* .tooltip-inner a.button {
  color: white;
}

.tooltip-inner a.button:hover  {
  color: black;
} */

.tooltip-inner a.button:link,
.tootlip-inner a.button:visited {
  /* background-color: #3a87ad ; */
  /* color: white !important; */
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}





/*
    i wish this required CSS was better documented :(
    https://github.com/FezVrasta/popper.js/issues/674
    derived from this CSS on this page: https://popper.js.org/tooltip-examples.html
    */

/* .popper, */
.tooltip {
  position: absolute;
  z-index: 9999;
  background: white;
  color: black;
  max-width: 60%;
  border-radius: 3px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}

/* .style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
} */

/* .popper .popper__arrow, */
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

/* .popper .popper__arrow,  */
.tooltip .tooltip-arrow {
  border-color: #1E252B;
}

/* .style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
} */

/* .popper[x-placement^="top"], */
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

/* .popper[x-placement^="top"] .popper__arrow, */
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

/* .popper[x-placement^="bottom"], */
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

/* .popper[x-placement^="bottom"] .popper__arrow, */
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

/* .popper[x-placement^="right"], */
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

/* .popper[x-placement^="right"] .popper__arrow, */
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

/* .popper[x-placement^="left"], */
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

/* .popper[x-placement^="left"] .popper__arrow, */
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}